@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');

:root {
  /* COLORS */
  --bg: #f5f5f5;
  --texto: #130e01;
  --texto_secundario: var(--bg);
  --rojoNerd: #ff1b02;
  --amarilloNerd: #fcb100;
  --azulNerd: #0194ff;
  --verdeNerd: #01a7a3;

  /* FONT SIZES */
  --h1: 48px;
  --titulo: 32px;
  --subtitulo: 24px;
  --parrafo: 18px;
  --sub: 16px;
  --small: 14px;

  /* FONT WEIGHTS */
  --bold: 700;
  --semi_bold: 600;
  --medium: 500;
  --regular: 400;
  --light: 300;
  --extra_light: 200;
  --thin: 100;

  /* FONT_FAMILY */
  --font_family: 'Montserrat', sans-serif;

  /* RESETS */
  --container_width: 1024px;
  --section_separacion: 6.25rem;
  --border_radius: 5px;
  --shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  --ancho_maximo: 100vw;
  --logo_width: 30px;
  --logo_height: 52.53px;
}

/* RESETS */
/* RESETS */
/* RESETS */

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

html {
  width: var(--ancho_maximo);
  scroll-behavior: smooth;
}

body {
  background-color: #f5f5f5;
  font-family: var(--font_family);
  max-width: var(--ancho-maximo);
  line-height: 1.2;
}

/* RESETS */
a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.container {
  max-width: var(--container_width);
  margin: auto;
  padding-inline: 1rem;
}

section {
  padding-inline-end: var(--section_separacion);
}

/* BOTONES */
.boton {
  padding: 1rem 2rem;
  font-size: var(--parrafo);
  font-weight: var(--medium);
  text-align: center;
  border: none;
  border-radius: var(--border_radius);
  cursor: pointer;
  box-shadow: var(--shadow);
  position: relative;
}

.boton::before {
  content: '';
  position: absolute;
  inset: 0;
  background-color: var(--bg);
  opacity: 0;
  border-radius: var(--border_radius);
  transition: all 150ms ease-in-out;
}

.boton:hover::before {
  opacity: 0.2;
}

.boton_amarillo {
  background-color: var(--amarilloNerd);
  color: var(--texto);
}

.boton_azul {
  background-color: var(--azulNerd);
  color: var(--texto);
}

.boton_verde {
  background-color: var(--verdeNerd);
  color: var(--texto);
}

.boton_rojo {
  background-color: var(--rojoNerd);
  color: var(--texto_secundario);
}

/* HEADER */
/* HEADER */
/* HEADER */

header {
  --header_width: 100vw;
  --header_height: 3.5rem;
  --header_logo_width: 30%;
  width: var(--header_width);
  height: var(--header_height);
  /* background-color: red; */
  position: sticky;
  z-index: 9999;
  top: 0;
}

.container_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: inherit;
}

.header_logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: var(--header_logo_width);
  height: inherit;
}

.header_logo-link {
  display: block;
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header_logo-img {
  width: var(--logo_width);
  aspect-ratio: calc(var(--logo-width) / 52.53px); /* 76% */
}

.container_nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100% - var(--header_logo_width));
  height: var(--header_height);
  padding-inline: 1rem;
}

.nav {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.primary-navigation {
  display: flex;
  justify-content: space-evenly;
  min-width: 70%;
}

.nav_item {
  padding: 1.14rem 1.1rem;
  
  transition: background-color 200ms ease-in-out;
}

.nav_link {
  color: var(--texto);
  font-size: var(--sub);
  font-weight: var(--regular);
  
  transition: color 150ms ease;
}

.nav_item:hover {
  background-color: var(--texto);
  cursor: pointer;
}

.nav_item:hover .nav_link{
  color: var(--bg);
}

.menu-button {
  display: none;
}

/* FOOTER */
/* FOOTER */
/* FOOTER */

footer {
  --footer_height: 30rem;
  --row1_alto: 60%;
  background-color: var(--texto);
  color: var(--bg);
}

.container_footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: var(--footer_height);
}

.container_footer {
  width: 100%;
}

.col_footer {
  width: inherit;
}

.col_footer_top {
  width: 33%;
}

.col_footer_top:nth-child(n+2 of .col_footer_top) {
  padding-inline: 2rem;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  /* gap: 10rem; */
  width: 100%;
  height: var(--row1_alto);
  padding-block: 1rem;
}

.footer-logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1.5rem;
  height: 25%;
}

.footer-logo img {
  width: var(--logo_width);
  aspect-ratio: calc(var(--logo-width) / 52.53px); /* 76% */
}

.footer-logo h2 {
  font-size: var(--titulo);
  font-weight: var(--medium);
}

.footer-links ul {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 0.7rem;
}

.footer-links li {
  padding-block: 0.5rem;
}

.footer-links-titulo {
  font-size: var(--sub);
  font-weight: var(--medium);
  color: var(--bg);
}

.footer-links li a {
  color: var(--texto_secundario);
  font-size: var(--small);
  font-weight: var(--light);
}

.footer-links li a:hover {
  text-decoration: underline;
}

.footer-mid {
  display: flex;
  /* justify-content: space-around; */
  align-items: center;
  border-top: 1px solid var(--amarilloNerd);
  border-bottom: 1px solid var(--amarilloNerd);
  height: calc(calc(100% - var(--row1_alto)) / 2);
}

.footer_form_titulo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
}

.footer_form_titulo h3 {
  font-size: var(--subtitulo);
  font-weight: var(--medium);
}

.footer_form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  /* padding-block: 1rem; */
  height: 100%;
  width: 50%;
}

.footer_form input {
  padding: 0.5rem 2rem 0.5rem 1rem;
  border: none;
  border-radius: var(--border_radius);
  outline: none;
  height: 2.5rem;
}

.footer_form button {
  padding: 0.5rem 2rem;
  background-color: var(--amarilloNerd);
  color: var(--texto);
  height: 2.5rem;
  text-align: center;
  font-size: var(--sub);
  font-weight: var(--medium);
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 2rem;
  height: calc(calc(100% - var(--row1_alto)) / 2);
}

.footer-bottom p {
  font-size: var(--small);
  font-weight: var(--extra_light);
}

.footer-bottom ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
}

.footer-bottom ul li {
  padding-inline: 1rem;
}

.fa-brands {
  font-size: 3rem;
  padding: 5px;
  color: var(--texto_secundario);
}

.red_social_1,
.red_social_2,
.red_social_3,
.red_social_4 {
  transition: color 120ms ease-in-out;
}

.red_social_1:hover {
  color: var(--rojoNerd);
}

.red_social_2:hover {
  color: var(--amarilloNerd);
}

.red_social_3:hover {
  color: var(--azulNerd);
}

.red_social_4:hover {
  color: var(--verdeNerd);
}

@media (max-width: 768px) {
  /* INDEX */
  /* INDEX */
  /* INDEX */

  .menu-button {
    display: flex;
    background: transparent;
    border: none;
    border-radius: var(--border_radius);
    cursor: pointer;
    z-index: 9999;
    place-items: center;
  }

  .menu-button .menu .line {
    transition: y 200ms ease-in 200ms, rotate 200ms ease-in, opacity 0ms 200ms;
    transform-origin: center;
  }

  .menu-button[aria-expanded='true'] .menu .line {
    transition: y 200ms ease-in, rotate 200ms ease-in 200ms, opacity 0ms 200ms;
  }

  .menu-button[aria-expanded='true'] .menu :is(.line_top, .line_bottom) {
    y: 45;
  }

  .menu-button[aria-expanded='true'] .menu .line_top {
    rotate: 45deg;
  }

  .menu-button[aria-expanded='true'] .menu .line_middle {
    opacity: 0;
  }

  .menu-button[aria-expanded='true'] .menu .line_bottom {
    rotate: -45deg;
  }

  .menu {
    fill: var(--texto); /* color del menu hamburguesa */
    transition: fill 200ms;
  }

  .primary-navigation {
    position: fixed;
    z-index: 100;
    inset: 0 0 0 50%;
    /* background: hsl(0, 0%, 100% / 0.1);
    backdrop-filter: blur(2rem); */
    background-color: var(--texto);

    flex-direction: column;
    padding: min(30vh, 10rem) 2em;

    gap: 2em;

    transition: transform 350ms ease-out;
    transform: translateX(100%);
  }

  .container_nav {
    width: auto;
  }

  .container_nav nav .primary-navigation {
    align-items: flex-start;
    justify-content: flex-start;
  }

  .primary-navigation[data-visible='true'] {
    transform: translateX(0%);
  }

  .nav_link {
    color: var(--bg);
    font-size: var(--parrafo);
    font-weight: var(--medium);
  }
  
  .nav_item {
    width: 100%;
  }

  .nav_item:hover {
    background-color: var(--bg);
  }

  .nav_item:hover .nav_link {
    color: var(--texto);
  }
}
