@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');

:root {
  /* COLORS */
  --bg: #f5f5f5;
  --texto: #130e01;
  --texto_secundario: var(--bg);
  --rojoNerd: #ff1b02;
  --amarilloNerd: #fcb100;
  --azulNerd: #0194ff;
  --verdeNerd: #01a7a3;

  --texto-hover: #130e01;
  --texto_secundario: var(--bg);
  --rojoNerd: #ff1b02;
  --amarilloNerd: #fcb100;
  --azulNerd: #0194ff;
  --verdeNerd: #01a7a3;

  --texto-hover: #130e01;
  --texto_secundario: var(--bg);
  --rojoNerd: #ff1b02;
  --amarilloNerd: #fcb100;
  --azulNerd: #0194ff;
  --verdeNerd: #01a7a3;

  /* FONT SIZES */
  --h1: 48px;
  --titulo: 32px;
  --subtitulo: 24px;
  --parrafo: 18px;
  --sub: 16px;
  --small: 14px;

  /* FONT WEIGHTS */
  --bold: 700;
  --semi_bold: 600;
  --medium: 500;
  --regular: 400;
  --light: 300;
  --extra_light: 200;
  --thin: 100;

  /* FONT_FAMILY */
  --font_family: 'Montserrat', sans-serif;

  /* RESETS */
  --container_width: 1280px;
  --section_separacion: 6.25rem;
  --border_radius: 5px;
  --shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  font-family: var(--font_family);
  background-color: #f5f5f5;
  margin: 0;
}

/* RESETS */
a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.container {
  width: var(--container_width);
  height: auto;
  margin: auto;
}

section {
  padding-inline-end: var(--section_separacion);
}

/* BOTONES */
.boton {
  padding: 1rem 2rem;
  font-size: var(--parrafo);
  font-weight: var(--medium);
  text-align: center;
  border: none;
  border-radius: var(--border_radius);
  cursor: pointer;
  box-shadow: var(--shadow);
  position: relative;
}

.boton::before {
  content: '';
  position: absolute;
  inset: 0;
  background-color: var(--bg);
  opacity: 0;
  border-radius: var(--border_radius);
  /* z-index: 1; */
  transition: all 150ms ease-in-out;
}

.boton:hover::before {
  opacity: 0.2;
}

.boton_amarillo {
  background-color: var(--amarilloNerd);
  color: var(--texto);
}

.boton_azul {
  background-color: var(--azulNerd);
  color: var(--texto);
}

.boton_verde {
  background-color: var(--verdeNerd);
  color: var(--texto);
}

.boton_rojo {
  background-color: var(--rojoNerd);
  color: var(--texto_secundario);
}

/* FOOTER */

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--texto);
  color: var(--bg);
}

.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.footer-logo {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 33%;
}

.footer-logo img {
  width: 10%;
}

.footer-links {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.footer-links li a {
  color: var(--texto_secundario);
}

.footer-mid {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-bottom p {
  font-size: var(--small);
}

.footer-bottom ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.footer-bottom ul li {
  padding-inline: 1rem;
}

.footer-bottom ul li a i {
  color: var(--texto_secundario);
  width: 20px;
}
